<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dji.sampleV5.aircraft">

    <!-- Sample permission requirement -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />





    <!-- Google Maps -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCQM6gnM2VIy3USfGLLNX463VSGkX4Sifs" />

    <!-- AMaps -->
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="AIzaSyCQM6gnM2VIy3USfGLLNX463VSGkX4Sifs" />


    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />

    <application
        android:name="dji.sampleV5.aircraft.DJIAircraftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name_aircraft"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="9766d395086eb04b6f4c7303" />
        <!--    네이버 지도 키    -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="w7qhky1q5i" />

        <activity
            android:name="dji.sampleV5.aircraft.DJIAircraftMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_theme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UsbAttachActivity"
            android:exported="true"
            android:theme="@style/translucent_theme">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>


        <activity
            android:name="dji.v5.ux.sample.showcase.defaultlayout.DefaultLayoutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_theme" />
        <activity
            android:name="dji.v5.ux.sample.showcase.defaultlayout.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_theme" />


        <activity
            android:name="dji.v5.ux.sample.showcase.widgetlist.WidgetsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_theme" />

        <activity
            android:name="dji.sampleV5.aircraft.AircraftTestingToolsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_theme" />
    </application>

</manifest>